//password must be in base64 encoding

[
  {
    "ip": "10.222.22.22",
    "user": "user",
    "pass": "",
    "client": "POS",
    "vdom": "root"
    //    "receiver": "semsaksoy@gmail.com",
    //"dir": "/Users/semseddin/export/v2"
  }
]
